# Игнорируем файлы данных
*.json
*.csv
*.npy
*.png

# Игнорируем виртуальные окружения
venv/
.venv/

# Игнорируем папку с изображениями
images/


data_KaiNet
catboost_info
MNIST
ml-task-cosmos

hw_overfitting_data_dict
formatted_reconstructed_algos.csv
reconstructed_algos.csv
FashionMNIST
